<div id="consumers">
    <h2>Consumers</h2>
    <div class="mdl-grid">
      {% assign consumers = site.data.consumers | sort: 'title' %}
      {% for consumer in consumers %}
        <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--2dp" id="{{ scope.modal }}-{{ type.modal }}">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ consumer.title }}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            Maintained by {{ consumer.author }}
          </div>
          <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ consumer.url }}">Atom Package Manager</a>
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ consumer.code }}">Source Code on GitHub</a>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
