{% for scope in site.linters %}
    {% for type in scope.types %}
      <div class="portfolio-modal modal fade" id="{{ scope.modal }}-{{ type.modal }}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                  <div class="lr">
                      <div class="rl">
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-8 col-lg-offset-2">
                          <div class="modal-body">
                              <h2>{{ type.title }} {{ scope.plual }}</h2>
                              <hr class="star-primary">
                              <ul class="list-group">
                                  {% for package in type.packages %}
                                    <a class="list-group-item" href="{{ package.url }}">{{ package.title }}</a>
                                  {% endfor %}
                              </ul>
                              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endfor %}
{% endfor %}
