
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Available Linters</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for type in site.types %}
                    <div class="col-xs-6 col-md-3 portfolio-item">
                        <a href="#portfolioModal-{{ forloop.index }}" class="thumbnail" data-toggle="modal">
                            <div class="language-tile language-tile-text">{{ type.title }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
