{% for scope in site.data.providers %}
<div class="container">
	<div id="{{ scope.modal }}" class="mdl-grid">
		<div class="mdl-cell mdl-cell--4-col mdl-card">
			<div class="mdl-grid flushleft">
				<div class="mdl-cell mdl-cell--12-col">
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">{{ scope.title }}</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--8-col">
			<div class="mdl-grid">
				{% assign types = scope.types | sort: 'title' %}
				{% for type in types %}
				<div class="mdl-card mdl-cell mdl-cell--4-col" id="{{ scope.modal }}-{{ type.modal }}">
					<div class="mdl-card__title">
						<h2 class="mdl-card__title-text">{{ type.title }}</h2>
					</div>
					<ul class="mdl-list">
						{% for package in type.packages %}
						<li class="mdl-list__item type">
							<a href="{{ package.url }}">{{ package.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endfor %}
