<div class="mdl-grid">
  {% for scope in site.data.providers %}
  <div id="{{ scope.modal }}" class="mdl-cell mdl-cell--2-offset mdl-cell--8-col">
    <h2>{{ scope.title }}</h2>
    <!-- <hr> -->
    <div class="mdl-grid">
      {% assign types = scope.types | sort: 'title' %}
      {% for type in types %}
      <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h3 class="mdl-card__title-text">{{ type.title }}</h3>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <ul class="packages">
            {% for package in type.packages %}
            <li><a href="{{ package.url }}">{{ package.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
